:root {
  --color-primary: #f428f9;

  --color-secondary: #2e2e4d;

  --color-highlight: #ff9f1c;

  --color-other-1: #3a86ff;
  --color-other-2: #ff006e;
  --color-other-3: #8338ec;
  --color-other-4: var(--color-other-4);
}

.bg-primary {
  background-color: var(--color-primary);
}
.text-primary {
  color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}
.text-secondary {
  color: var(--color-secondary);
}

.bg-highlight {
  background-color: var(--color-highlight);
}
.text-highlight {
  color: var(--color-highlight);
}

.bg-other-1 {
  background-color: var(--color-other-1);
}
.text-other-1 {
  color: var(--color-other-1);
}

.bg-other-2 {
  background-color: var(--color-other-2);
}
.text-other-2 {
  color: var(--color-other-2);
}

.bg-other-3 {
  background-color: var(--color-other-3);
}
.text-other-3 {
  color: var(--color-other-3);
}

.bg-other-4 {
  background-color: var(--color-other-4);
}
.text-other-4 {
  color: var(--color-other-4);
}
