* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Work Sans", sans-serif;
}
ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.marca {
  display: inline-flex;
  font-size: 1.5rem;
  font-weight: bold;
  color: #f428f9;
  white-space: nowrap;
  margin-bottom: 2rem;
}

.marca span {
  opacity: 0;
  max-width: 0;
  overflow: hidden;
  transition: opacity 1.5s, max-width 1.5s;
}

.marca:hover span {
  opacity: 1;
  max-width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.menu {
  background-color: burlywood;
  min-height: 100vh;
  display: none;
  /* ela não pode ficar presa a nav-bar */
  position: absolute;
  top: 0;
  width: 100%;
}

.menu.show {
  display: block;
}

.toggle-menu {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  background-color: transparent;
  border: 0;
  color: #f428f9;
  cursor: pointer;
}

.toggle-menu:focus .menu {
  display: block;
}
