.navbar {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 3;
  padding-top: 0.5rem;
}

.marca {
  display: inline-flex;
  white-space: nowrap;
}

.marca span {
  opacity: 0;
  max-width: 0;
  overflow: hidden;
  transition: opacity 1.5s, max-width 1.5s;
}

.marca:hover span {
  opacity: 1;
  max-width: 100%;
}

.toggle-menu {
  text-transform: capitalize;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.menu-links {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-highlight);
  color: var(--color-secondary);
  z-index: 2;
}

.menu-links.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-links li {
  letter-spacing: 10px;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  width: fit-content;
  line-height: 0.8;
}

.menu-links li:nth-child(even) {
  align-self: flex-end;
}
.menu-links li:hover,
.menu-links li.ativo {
  transform: scale(1.05);
  color: var(--color-other-2);
}

.item-sobre,
.item-projetos {
  margin-left: 5%;
}

.item-retratos {
  padding-right: 5%;
}
.item-contato {
  padding-right: 15%;
}

.item-colab {
  margin-left: 15%;
}

@media (max-width: 1280px) {
  .menu-links.show {
    row-gap: 10px;
  }
}

@media (max-width: 768px) {
  .menu-links.show {
    row-gap: 35px;
  }
}

@media (max-width: 600px) {
  .menu-links.show {
    padding-left: 15px;
  }

  .item-sobre,
  .item-projetos,
  .item-colab {
    margin-left: 0;
  }

  .item-retratos,
  .item-contato {
    padding-right: 0;
  }

  .menu-links li:nth-child(even) {
    align-self: flex-start;
  }
}
