/* ==================== */
/* ESTRUTURA PRINCIPAL */
/* ==================== */
body.container {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ==================== */
/* NAVEGAÇÃO ADMIN */
/* ==================== */
.nav-admin {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 15px 0;
  line-height: 1.5;
}

.menu-admin {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 50px;
}

.menu-admin-item:hover {
  color: var(--color-other-2);
  transform: scale(1.01);
}

/* ==================== */
/* CARDS */
/* ==================== */
.card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 2px solid var(--color-other-3);
  padding: 30px;
  background-color: var(--color-other-4);
  width: 60%;
  justify-self: center;
  margin-bottom: 1rem;
}

.titulo-container {
  text-align: center;
}

.card-cabecalho {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.card-item {
  line-height: 1.5;
}

.card-item h3 {
  margin-top: 1rem;
}

/* ==================== */
/* PAGINAÇÃO */
/* ==================== */
.paginacao {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.paginacao button {
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-primary);
  background-color: transparent;
  color: var(--color-primary);
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.2s;
  margin-bottom: 5rem;
}

.paginacao button:hover:not(:disabled) {
  background-color: var(--color-primary);
  color: white;
}

.paginacao button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#info-pagina {
  margin: 0 1rem 5rem;
}

/* ==================== */
/* MENSAGENS */
/* ==================== */
#mensagens-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.logout-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: white;
}
