/* ==================== */
/* RESET DE ELEMENTOS */
/* ==================== */
h1,
h2,
h3,
h4,
h5,
h6,
p,
address,
blockquote,
ul,
ol,
li,
dl,
dt,
dd,
div,
span,
a,
img {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  box-sizing: border-box;
}

/* ==================== */
/* LISTAS */
/* ==================== */
ul,
ol {
  list-style: none;
}

/* ==================== */
/* LINKS */
/* ==================== */
a {
  text-decoration: none;
  color: inherit;
}

/* ==================== */
/* IMAGENS */
/* ==================== */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ==================== */
/* ENDEREÇO */
/* ==================== */
address {
  font-style: normal;
  margin: 0;
  padding: 0;
  line-height: normal;
}

/* ==================== */
/* BOTÕES */
/* ==================== */
button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
}
