h1,
h2,
h3,
h4,
h5,
h6,
p,
address,
blockquote,
ul,
ol,
li,
dl,
dt,
dd,
div,
span,
a,
img {
  margin: 0;
  padding: 0;
  border: 0;
  /* font-size: 100%; */
  font: inherit;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
  margin: 0;
  padding: 0;
  line-height: normal;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
}
