/* Estilos para a Barra de Navegação */
.navbar {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 3;
  padding-top: 0.5rem;
}

/* Estilos para a Marca/Logo */
.marca {
  display: inline-flex;
  white-space: nowrap;
}

.marca span {
  opacity: 0;
  max-width: 0;
  overflow: hidden;
  transition: opacity 1.5s, max-width 1.5s;
}

.marca:hover span {
  opacity: 1;
  max-width: 100%;
}

/* Botão para Alternar Menu */
.toggle-menu {
  text-transform: capitalize;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

/* Estilos para os Links do Menu */
.menu-links {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-highlight);
  color: var(--color-secondary);
  z-index: 2;
}

.menu-links.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-links li {
  letter-spacing: 10px;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  width: fit-content;
  line-height: 0.8;
}

.menu-links li:nth-child(even) {
  align-self: flex-end;
}

.menu-links li:hover,
.menu-links li.ativo {
  transform: scale(1.05);
  color: var(--color-other-2);
}

/* Ajustes Individuais dos Itens do Menu */
.item-sobre,
.item-projetos {
  margin-left: 5%;
}

.item-retratos {
  padding-right: 5%;
}

.item-contato {
  padding-right: 15%;
}

.item-colab {
  margin-left: 15%;
}

/* Responsividade */
@media (max-width: 1280px) {
  .menu-links.show {
    row-gap: 10px;
  }
}

@media (max-width: 768px) {
  .menu-links.show {
    row-gap: 35px;
  }
}

@media (max-width: 600px) {
  .menu-links.show {
    padding-left: 15px;
  }

  .item-sobre,
  .item-projetos,
  .item-colab {
    margin-left: 0;
  }

  .item-retratos,
  .item-contato {
    padding-right: 0;
  }

  .menu-links li:nth-child(even) {
    align-self: flex-start;
  }
}

/* Estilos para o Contêiner do Logo */
.container-logo {
  flex: 1;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 15px;
  max-width: 1300px;
  margin-inline: auto;
}

/* Estilos para o Logo */
.logo {
  width: min-content;
}

.logo h1 {
  font-size: clamp(4rem, 20vw, 16rem);
  padding-left: 3px;
}

/* Resposnividade para o Logo */
@media (max-width: 600px) {
  .logo {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    transform-origin: center center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo h1 {
    font-size: clamp(8rem, 10vw, 15vh);
  }
}

/* Definições de Fontes e Tipografia */
:root {
  --font-primary: "Work Sans", sans-serif;
  --font-secondary: "Unlock", sans-serif;
}

/* Fonte Work Sans - Tamanhos e Pesos */
.font-primary {
  font-family: var(--font-primary);
}

.font-primary-lg {
  font-family: var(--font-primary);
  font-size: 6.667rem;
  font-weight: bold;
}

.font-primary-md {
  font-family: var(--font-primary);
  font-size: 1.5rem;
  font-weight: bold;
}

.font-primary-sm {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: bold;
}

/* Fonte Unlock - Tamanho */
.font-secondary {
  font-family: var(--font-secondary);
}

.font-secondary-lg {
  font-family: var(--font-secondary);
  font-size: 3rem;
  text-transform: lowercase;
  letter-spacing: 0.5rem;
}

.font-secondary-md {
  font-family: var(--font-secondary);
  font-size: 1.5rem;
  color: var(--color-other-2);
  text-transform: lowercase;
  letter-spacing: 0.15rem;
}

.font-secondary-logo {
  font-family: var(--font-secondary);
  font-weight: bold;
}

/* Responsividade */
@media (max-width: 1280px) {
  .font-primary-lg {
    font-size: 6rem;
  }
}

@media (max-width: 1024px) {
  .font-primary-lg {
    font-size: 4.5rem;
  }

  .font-secondary-lg {
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
  }

  .font-secondary-md {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .font-primary-lg {
    font-size: 5rem;
  }

  .font-secondary-lg {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .font-primary-lg {
    font-size: 3.5rem;
  }

  .font-secondary-lg {
    font-size: 1rem;
  }
}
